<div class="liHabit"> 
	{{habit_name}}  {{category_id}}  <br>

	<button class="change-completed btn btn-primary btn-sm" data-id="{{id}}" data-newcompleted="{{completed}}">
		{{#if completed}}  Did it!{{else}}  Do it!{{/if}}
	</button>
	
<br>
</div>

